{% extends "app_coder/index.html" %}
{% load static %}
{% block app_coder_content %}

<h2>Lista de Cursos</h2>
<a class="card_custom" href="{% url 'app_coder:course-add' %}">Crear nuevo Curso</a>
<hr></hr>
<ul>
    {% for course in course_list %}
    <li>
        {{course}}
        (
        <a href="{% url 'app_coder:course-detail' course.id %}">
            <i class="fa fa-eye" style="color: rgb(0, 0, 255);"> </i>
        </a>
        |
        <a href="{% url 'app_coder:course-update' course.id %}">
            <i class="fa fa-pencil" style="color: rgb(0, 0, 190);"> </i>
        </a>
        |
        <a href="{% url 'app_coder:course-delete' course.id %}">
            <i class="fa fa-trash" style="color: rgb(0, 0, 100);"> </i>
        </a>
        )
    </li>
    {% endfor %}
</ul>

{% endblock %}