{% extends "app_coder/index.html" %}
{% load static %}
{% block app_coder_content %}

<h2>Buscador de cursos</h2>
<hr></hr>

<form action="/app_coder/search" method="GET">
    <div>
        <input type="text" name="text_search" id="course_name" placeholder="Busqueda por nommbre">
        <input type="submit" value="Buscar por Nombre">
    </div>
    <div>
        <input type="number" name="code_search" id="course_code" placeholder="Busqueda por camada">
        <input type="submit" value="Buscar por camada">
    </div>
    <div>
        <input type="text" name="all_search" id="course_code_or_name" placeholder="Busqueda general">
        <input type="submit" value="Buscar">
    </div>

</form>

<hr></hr>

{% if courses %}
    <ul>
        {% for course in courses %}
            <li>
                Curso: {{course.name}}
                -- Camada: {{course.code}}
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}