{% extends "app_coder/index.html" %}
{% load static %}
{% block app_coder_content %}

<h2>Lista de Profesores</h2>
<a class="card_custom" href="{% url 'app_coder:ProfesorDjangoForms' %}">Crear nuevo Profesor</a>
<hr>
</hr>
<ul>
    {% for profesor in profesors %}
    <li>
        {{profesor}}
        (
        <a href="{% url 'app_coder:UpdateProfesor' profesor.id %}">
            <i class="fa fa-pencil" style="color: rgb(0, 0, 190);"></i>
        </a>
        |
        <a href="{% url 'app_coder:DeleteProfesor' profesor.id %}">
            <i class="fa fa-trash" style="color: rgb(0, 0, 100);"></i>
        </a>
        )
    </li>
    {% endfor %}
</ul>

{% endblock %}