{% extends "home/index.html" %}
{% load static %}
{% block coderhouse_project_content %}

<h2>Lista de Estudiantes</h2>
{% if user.is_authenticated %}
<a class="card_custom" href="{% url 'student:student-add' %}">Crear nuevo Estudiante</a>
{% endif %}
<hr></hr>
<ul>
    {% for student in student_list %}
    <li>
        {{student}}
        (
            <a href="{% url 'student:student-detail' student.id %}">
                <i class="fa fa-eye" style="color: rgb(0, 0, 255);"> </i>
            </a>
        {% if user.is_authenticated %}
        |
        <a href="{% url 'student:student-update' student.id %}">
            <i class="fa fa-pencil" style="color: rgb(0, 0, 190);"> </i>
        </a>
        |
        <a href="{% url 'student:student-delete' student.id %}">
            <i class="fa fa-trash" style="color: rgb(0, 0, 100);"> </i>
        </a>
        {% endif %}
        )
    </li>
    {% endfor %}
</ul>

{% endblock %}